<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="alert alert-info">
      User creation now happens through the registration flow so every account has login credentials.
      <a href="/auth/register" class="alert-link">Open registration</a>.
    </div>
  </div>
</div>
